name: Build

on:
  push:
    branches: ["main"]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    shell: bash -eux {0}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: python -m pip install -U jupyter_server

    - name: Build the extension
      run: |
        python -m pip install .
        jupyter server extension list 2>&1 | grep -ie "{{ cookiecutter.package_name }}.*OK"

        pip install build
        python -m build --sdist
        cp dist/*.tar.gz my_server_extension.tar.gz
        pip uninstall -y "{{ cookiecutter.package_name }}" jupyter_server
        rm -rf "{{ cookiecutter.package_name }}"

    - uses: actions/upload-artifact@v2
      with:
        name: my_server_extension-sdist
        path: my_server_extension.tar.gz

  test_sdist:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        architecture: 'x64'
    - uses: actions/download-artifact@v2
      with:
        name: my_server_extension-sdist
    - name: Install and Test
      run: |
        pip install my_server_extension.tar.gz
        pip install jupyter_server
        jupyter server extension list 2>&1 | grep -ie "{{ cookiecutter.package_name }}.*OK"
